apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
        - name: app1
          image: 211125364313.dkr.ecr.ap-southeast-1.amazonaws.com/app1:__VERSION__
          ports:
            - containerPort: 8080
